<?xml version="1.0"?>
<launch>

    <arg name="name" default="oak" />

    <include file="$(find depthai_ros_driver)/launch/example_segmentation.launch">
        <arg name="name" value="$(arg name)"/>
    </include>

    <node name="overlay" pkg="nodelet" type="nodelet" output="screen" required="true" args="load depthai_filters/SegmentationOverlay $(arg  name)_nodelet_manager">
        <remap from="/rgb/preview/image_raw" to="$(arg name)/nn/passthrough/image_raw"/>
        <remap from="/nn/image_raw" to="$(arg name)/nn/image_raw"/>

    </node>
</launch>