<?xml version="1.0"?>
<robot name="luxonis_camera" xmlns:xacro="http://ros.org/wiki/xacro">


    <xacro:include filename="$(find depthai_bridge)/urdf/include/depthai_descr.urdf">
        <xacro:arg name="camera_name"   default="oak" />
        <xacro:arg name="camera_model"  default="BW1098OAK" />
        <xacro:arg name="base_frame"    default="oak-d_frame" />
        <xacro:arg name="cam_pos_x"     default="0.0" />
        <xacro:arg name="cam_pos_y"     default="0.0" />
        <xacro:arg name="cam_pos_z"     default="0.0" />
        <xacro:arg name="cam_roll"      default="1.5708" />
        <xacro:arg name="cam_pitch"     default="0.0" />
        <xacro:arg name="cam_yaw"       default="1.5708" />
    </xacro:include>

    <camera />
</robot>