<?xml version="1.0"?>
<robot name="depthai_camera" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:arg name="camera_name"   default="oak" />
    <xacro:arg name="camera_model"  default="BW1098OAK" />
    <xacro:arg name="base_frame"    default="base_link" />
    <xacro:arg name="cam_pos_x"     default="0.0" />
    <xacro:arg name="cam_pos_y"     default="0.0" />
    <xacro:arg name="cam_pos_z"     default="0.0" />
    <xacro:arg name="cam_roll"      default="0.0" />
    <xacro:arg name="cam_pitch"     default="0.0" />
    <xacro:arg name="cam_yaw"       default="0.0" />

    <!-- Properties -->
    <xacro:property name="M_PI"     value="3.1415926535897931" />
    <xacro:property name="model"    value="$(arg camera_model)" />

    <xacro:if value="${model == 'BW1098OAK'}">
    <xacro:property name="baseline" value="0.075" />
    </xacro:if>

    <!-- base_link of the sensor-->
    <link name="$(arg base_frame)" />
   

<!-- device Center -->
    <link name="$(arg camera_name)_camera_center">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://depthai_examples/urdf/models/${model}.dae" />
            </geometry>
            <material name="mat">
                <color rgba="0.8 0.8 0.8 0.8"/>
            </material>
        </visual>
    </link>

    <joint name="$(arg camera_name)_center_joint" type="fixed">
        <parent link="$(arg base_frame)"/>
        <child link="$(arg camera_name)_camera_center"/>
        <origin xyz="$(arg cam_pos_x) $(arg cam_pos_y) $(arg cam_pos_z)" rpy="$(arg cam_roll) $(arg cam_pitch) $(arg cam_yaw)" />
    </joint>

<!-- RGB Camera -->
    <link name="$(arg camera_name)_rgb_camera_frame" />
    
    <joint name="$(arg camera_name)_rgb_camera_joint" type="fixed">
        <parent link="$(arg base_frame)"/>
        <child link="$(arg camera_name)_rgb_camera_frame"/>
        <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>

    <link name="$(arg camera_name)_rgb_camera_optical_frame"/>
    
    <joint name="$(arg camera_name)_rgb_camera_optical_joint" type="fixed">
        <origin xyz="0 0 0" rpy="-${M_PI/2} 0.0 -${M_PI/2}"/>
        <parent link="$(arg camera_name)_rgb_camera_frame"/>
        <child link="$(arg camera_name)_rgb_camera_optical_frame"/>
    </joint>

<!-- Left Camera -->
    <link name="$(arg camera_name)_left_camera_frame" />
    
    <joint name="$(arg camera_name)_left_camera_joint" type="fixed">
        <parent link="$(arg base_frame)"/>
        <child link="$(arg camera_name)_left_camera_frame"/>
        <origin xyz="0 ${baseline/2} 0" rpy="0 0 0" />
    </joint>

    <link name="$(arg camera_name)_left_camera_optical_frame"/>
    
    <joint name="$(arg camera_name)_left_camera_optical_joint" type="fixed">
        <origin xyz="0 0 0" rpy="-${M_PI/2} 0.0 -${M_PI/2}"/>
        <parent link="$(arg camera_name)_left_camera_frame"/>
        <child link="$(arg camera_name)_left_camera_optical_frame"/>
    </joint>

    
<!-- right Camera -->
    <link name="$(arg camera_name)_right_camera_frame" />
    
    <joint name="$(arg camera_name)_right_camera_joint" type="fixed">
        <parent link="$(arg base_frame)"/>
        <child link="$(arg camera_name)_right_camera_frame"/>
        <origin xyz="0 -${baseline/2} 0" rpy="0 0 0" />
    </joint>

    <link name="$(arg camera_name)_right_camera_optical_frame"/>
    
    <joint name="$(arg camera_name)_right_camera_optical_joint" type="fixed">
        <origin xyz="0 0 0" rpy="-${M_PI/2} 0.0 -${M_PI/2}"/>
        <parent link="$(arg camera_name)_right_camera_frame"/>
        <child link="$(arg camera_name)_right_camera_optical_frame"/>
    </joint>


</robot>